<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emailer_form.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @emailer_form.email %>
</p>

<p>
  <strong>Proj repo:</strong>
  <%= @emailer_form.proj_repo %>
</p>

<p>
  <strong>Proj url:</strong>
  <%= @emailer_form.proj_url %>
</p>

<%= link_to 'Edit', edit_emailer_form_path(@emailer_form) %> |
<%= link_to 'Back', emailer_forms_path %>
